.question {
  margin: 214px 80px 127px 150px;
  display: flex;
  flex-direction: column;
  width: 53%;
  align-items: center;
}

.question__title {
  font-size: 28px;
  font-weight: 500;
  color: #000;
}

.question__text {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

.answers {
  display: flex;
  flex-direction: column;
  margin: 247px 249px 0 0;
}

.answer-input {
  display: none;
}

.answer-label {
  display: flex;
  font-size: 28px;
  font-weight: 400;
  color: #000;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.answer-label::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 25px;
  background: radial-gradient(#efefef 54%, #000 59%, #000 64%, #efefef 65%);
}

.answer-input:checked + .answer-label::before {
  background: radial-gradient(#000 40%, #efefef 42%, #efefef 54%, #000 59%, #000 63%, #efefef 65%);
}
