.header {
  display: flex;
  flex-direction: row;
  padding: 43px 150px 31px;
  justify-content: space-between;
  border-bottom: 2px #000 solid;
}

.header__logo {
  font-size: 48px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0;
  text-align: left;

}

.header__info-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__link {
  text-decoration: none;
  font-size: 28px;
  color: #000;
  margin-right: 98px;
}

.header__info-text {
  font-size: 36px;
  color: #000;
}

.header__button {
  margin: 15px;
  padding: 10px 15px;
  background-color: #74bbfd;
  border: none;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.header__button:active {
  background-color: #49a7ff;
}

/*.button:focus {*/
/*    background-color: aquamarine;*/
/*    outline: 3px #61dafb solid;*/
/*}*/

.header__button:hover {
  background-color: #49a7ff;
}

.header__button:disabled,
.header__button[disabled] {
  background-color: #bdbdbd;
}

.header__button:disabled:hover,
.header__button[disabled]:hover {
  background-color: #bdbdbd;
}
