.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px #000 solid;
  background-color: blue;
}

.header__logo {
  margin-top: -100px;
}

/*.header__info-block {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*}*/

/*.header__link {*/
/*  text-decoration: none;*/
/*  font-size: 28px;*/
/*  color: #000;*/
/*  margin-right: 98px;*/
/*}*/

/*.header__info-text {*/
/*  font-size: 36px;*/
/*  color: #000;*/
/*}*/

/*.header__button:active {*/
/*  background-color: #49a7ff;*/
/*}*/

/*!*.button:focus {*!*/
/*!*    background-color: aquamarine;*!*/
/*!*    outline: 3px #61dafb solid;*!*/
/*!*}*!*/

/*.header__button:hover {*/
/*  background-color: #49a7ff;*/
/*}*/

/*.header__button:disabled,*/
/*.header__button[disabled] {*/
/*  background-color: #bdbdbd;*/
/*}*/

/*.header__button:disabled:hover,*/
/*.header__button[disabled]:hover {*/
/*  background-color: #bdbdbd;*/
/*}*/
